@import "bourbon";

.container 
 position relative
 width 300px
 margin 200px auto

.total-score
 position relative
 display inline-block
 font-size 96px
 font-weight normal
 text-align center
 float left
 clear right

.score-range
 position relative
 display inline-block
 width 60px
 margin 50px 0 0 0
 padding 3px 0 3px 10px
 font-size 12px
 font-style italic
 text-align left
 color #999
 border-left 3px solid #777
 float right

.score-graph
 position relative
 display block
 margin-bottom 15px
 width 100%
 background-image linear-gradient(to right, #c0392b, #flc40f, #2ecc71)
 height 10px
 border-radius 3px
 transition 0.4s linear
 transition-porperty width, background color
 float left
 &:before,
 &:after
  position absolute
  top 15px
  color #ccc
  font-size 10px
  font-style italic
 &:before
  content '400'
  position absolute
  right 0
  border-right 1px solid #ccc
  padding-right 10px
 &:after
  content '1600'
  position absolute
  right 0
  border-right 1px solid #ccc
  padding-right 10px
 .score-graph-bar
  height 10px
  width 100%
  background #eee
  float right
  span
   position absolute
   display block
   top 18px
   width 30px
   height 30px
   margin-left -15px
   background-color transparentize(black, 0.6)
   border-top-left-radius 0
   border-top-right-radius 50%
   border-bottom-left-radius 50%
   border-bottom-right-radius 50%
   z-index 999
   transform rotate(45deg)
   i
    position relative
    margin 6px 8px 0
    transform rotate(-45deg)
    color white