extend default

block content

 .centered
  img.middleContent(src="https://media.licdn.com/media/AAEAAQAAAAAAAAeMAAAAJDU3Mzk1YWNiLWM5ODItNDQ3ZS1hYmFjLWJkMDY2MTIyOWRiMw.jpg")
  img.middleContent(src="https://media.licdn.com/media/AAEAAQAAAAAAAAcTAAAAJDc2MzdkM2EwLWU1OTctNGMyNy1iYjJhLTJkMjkxZGJjZTA2Ng.jpg")
