doctype html
meta(name='viewport', content='width=device-width, initial-scale=1.0')
html

 head
  link(rel='stylesheet', href='/css/company.css')
  title Statera
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js")
  script(type="text/javascript", src="/js/company.js")
   
 body
  div(id='loader')
   div(id='soup-container')
    div(id='segments')
    div(id='soup-nav')
     span(id='soup-prev')
      i(class='fa fa-arrow-circle-o-left' aria-hidden='true')
     span(id='soup-next')
      i(class='fa fa-arrow-circle-o-right' aria-hidden='true')



       